@font-face {
  font-family: "iconfont"; /* Project id 4272737 */
  src: url('iconfont.woff2?t=1696220894808') format('woff2'),
       url('iconfont.woff?t=1696220894808') format('woff'),
       url('iconfont.ttf?t=1696220894808') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-z043:before {
  content: "\e62f";
}

.icon-xiazai6:before {
  content: "\e606";
}

